[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "==0.20.0"}
fastapi = {extras = ["all"], version = "==0.88.0"}
alembic = "==1.9.1"
httpx = "==0.23.3"
pytest = "==7.2.1"
python-dotenv = "*"
python-multipart = "*"
boto3 = "*"
awscli = "*"

[dev-packages]
black = "==23.1.0"

[requires]
python_version = "3.10"
